body {
  font-family: "Open Sans", sans-serif;
  background-image: url("./images/1514_KennyDeath.gif.crdownload");
  padding: 60px;
  resize: both;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

#container {
  width: 1000px;
  height: 800px;
  background-color: brown;
  margin: 20px auto;
  border-radius: 25px;
  border-top: 100px;
  background-repeat: no-repeat;
  border: 10px solid black;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* #container .kenny {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
} */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

#calculator {
  width: 320px;
  height: 550px;
  background-image: url("./images/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px auto;
  top: 180px;
  position: relative;
  border-radius: 25px;
  border: 5px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

#result {
  height: 120px;
  background-blend-mode: color-burn;
  border-top: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 5px solid black;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: white;
  border-radius: 25px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
  color: white;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

#keyboard {
  height: 400px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 70%;
  border-width: 0;
  font-weight: bolder;
  font-size: 15px;
  border: 3px solid black;
  color: blue;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.number,
.operator {
  cursor: pointer;
}

.number {
  background-image: url("./images/Kyle.jpg");
}

.operator {
  background-image: url("./images/Cartman.jpg");
}

.empty {
  background-image: url("./images/Kenny.jpg");
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.operator:active,
.number:active {
  font-size: 13px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

button:nth-child(4) {
  font-size: 20px;
  font-weight: bolder;
  background-color: #4bfaf1;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

button:nth-child(8) {
  font-size: 20px;
  font-weight: bolder;
  background-color: #f4f81b;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

button:nth-child(12) {
  font-size: 20px;
  font-weight: bolder;
  background-color: #6babff;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

button:nth-child(16) {
  font-size: 20px;
  font-weight: bolder;
  background-color: #5bfc56;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

button:nth-child(20) {
  font-size: 20px;
  font-weight: bolder;
  background-color: #c287f8;
}
